:root {
	--font: "inter", sans-serif;
	--primary-brand: rgb(28 28 28 / 100%);
	--black-5: rgb(28 28 28 / 5%);
	--black-10: rgb(28 28 28 / 10%);
	--black-20: rgb(28 28 28 / 30%);
	--black-30: rgb(28 28 28 / 30%);
	--black-40: rgb(28 28 28 / 40%);
	--black-50: rgb(28 28 28 / 40%);
	--black-70: rgb(28 28 28 / 40%);
	--black-90: rgb(28 28 28 / 40%);
	--secondary-red: rgb(255 71 71 / 100%);
	--white-100: rgb(255 255 255 / 100%);
	--white-40: rgb(255 255 255 / 100%);
}

body {
	font: var(--font);
}
