.carouselContainer {
	position: relative;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 16px;
	background-color: #ffffff;
	box-shadow: 0 1px 5px 1px rgb(177 175 175 / 40%);
}

.carouselContainer.carouselBack {
	background: rgb(255, 255, 255);
	box-shadow: none;
}

.carousel {
	display: flex;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scrollbar-width: none;
	gap: 10px;
	padding: 5px;
}

.carousel::-webkit-scrollbar {
	display: none;
}

.product {
	flex: 1 0 calc(25% - 7px);
	background-color: #ffffff;
	padding: 10px 0;
}

.product.back {
	box-shadow: 0 1px 5px 1px rgb(177 175 175 / 40%);
	border-radius: 10px;
	gap: 10px;
}

.scrollButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 10;

	opacity: 0;
	pointer-events: none;

	background-color: #ffffff;
	box-shadow: 0 1px 5px 1px rgb(177 175 175 / 40%);
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
}

.carouselContainer:hover .scrollButton {
	opacity: 1;
	pointer-events: auto;
}

.leftButton {
	left: 10px;
}

.rightButton {
	right: 10px;
}

.scrollButton:hover {
	background-color: rgba(238, 238, 238, 0.9);
	padding: 13px;
}

@media (max-width: 950px) {
	.product {
		flex: 1 0 calc(33.33% - 7px);
	}
}

@media (max-width: 700px) {
	.product {
		flex: 1 0 calc(50% - 7px);
	}
}

@media (max-width: 500px) {
	.product {
		flex: 1 0 calc(100% - 7px);
	}
}
