.carouselContainer {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 16px;
	padding: 10px;
	box-shadow: 0 1px 5px 1px rgb(177 175 175 / 40%);
}

.carousel {
	display: flex;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
	display: none;
}

.product {
	flex: 1 0 calc(20%); /* 4 элемента на экран при полном размере */
	max-height: 450px;
	background-color: #ffffff;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img {
	width: 100%;
	height: auto;
	max-height: 200px;
	object-fit: contain;
	border-radius: 16px;
}

.action {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.scrollButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 10;
}

.leftButton {
	left: 10px;
}

.rightButton {
	right: 10px;
}

/* Медиа-запросы для адаптации к разным экранам */
@media (max-width: 1200px) {
	.product {
		flex: 1 0 calc(33.33% - 10px); /* 3 элемента на экран */
	}
}

@media (max-width: 800px) {
	.product {
		flex: 1 0 calc(50% - 10px); /* 2 элемента на экран */
	}
}

@media (max-width: 500px) {
	.product {
		flex: 1 0 calc(100% - 10px); /* 1 элемент на экран */
	}
}
