/* .news {
	height: 200px;
	width: 100%;
	border-radius: 16px;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.right-button {
	position: absolute;
	right: 0;
}
.left-button {
	position: absolute;
}

.content {
	display: flex;
	height: 100%;
	width: 100%;
	transition: transform 0.5s ease-in-out;
	gap: 10px;
	padding: 10px;
}
.product {
	position: relative;
	min-width: 23%;
	border-radius: 16px;
	background-color: var(--white-100);
	padding: 10px;
	box-shadow: 0 2px 2px 2px rgb(177 175 175 / 40%);
}
.img {
	position: absolute;
	height: 100%;
	object-fit: contain;
	border-radius: 16px;
	right: 0;
	bottom: 0;
} */

.carouselContainer {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 16px;
}

.carousel {
	display: flex;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scrollbar-width: none;
	gap: 10px;
	padding: 5px;
}

.carousel::-webkit-scrollbar {
	display: none;
}

.product {
	max-width: 22%;
	max-height: 200px;
	flex-shrink: 0;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 1px 5px 1px rgb(177 175 175 / 40%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
	&:hover {
		background-color: rgb(228, 228, 228);
	}
}

.img {
	height: 100%;
	object-fit: contain;
	border-radius: 16px;
}

.action {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.scrollButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 10;
	border-radius: 50%;
}

.leftButton {
	left: 10px;
}

.rightButton {
	right: 10px;
}

.scrollButton:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
