.form-wrap {
	width: 200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative; /* Устанавливаем контейнер с относительным позиционированием */
}

.label {
	position: absolute; /* Абсолютное позиционирование кнопки */
	right: 5px;
	border: 1px solid var(--black-20);
	border-radius: 12px;
	padding: 8px 8px;
	cursor: pointer;

	&:hover {
		border: 1px solid var(--black-20);

		background: var(--black-5);
	}
}
