.button {
	outline: none;
	border: 1px solid var(--black-10);
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	cursor: pointer;

	border-radius: 12px;
	padding: 12px;
	transition: 0.3s;
	&:hover {
		background: var(--black-10);
	}
	&:active {
		background: var(--black-40);
	}
}

.button.activated {
	border: 1px solid var(--primary-brand);
	&:hover {
		background: var(--blue-10);
	}
	&:active {
		background: var(--blue-40);
	}
}
.icon {
	fill: var(--black-20);
}

.icon.activated {
	fill: var(--primary-brand);
}
.button.disabled {
	cursor: not-allowed;
	opacity: 0.6;
}
