.price-panel {
	border-radius: 12px;
	display: flex;
	align-items: center;
	padding: 10px;
	background: linear-gradient(to left, var(--blue-10), white);
	width: 150px;
}

.cost-wrap {
	display: flex;
	gap: 3px;
	align-items: flex-end;
}

.cost-text {
	font: var(--font);
	font-weight: 600;
	font-size: 20px;
}

.cost-text.color {
	color: var(--primary-brand);
}

.cost-with-discount-text {
	font: var(--font);
	font-size: 12px;
	text-decoration: line-through;
	color: rgb(114, 114, 114);
}
