.modal-chat {
	display: flex;
	flex-direction: column;

	width: 400px;

	border-radius: 20px;
	box-shadow: 0 10px 20px rgb(177 175 175 / 40%);
	margin-bottom: 65px;
}

.header-chat {
	padding: 10px;

	text-align: center;

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0 5px 7px rgb(177 175 175 / 20%);
}

.body-chat {
	display: flex;

	overflow-y: scroll;

	flex-direction: column;

	height: 445px;
	padding: 10px;
	gap: 10px;
}

.body-chat::-webkit-scrollbar {
	width: 10px;

	/* background-color: #f9f9fd; */
}

.body-chat::-webkit-scrollbar-thumb {
	max-height: 10px;

	border-radius: 10px;
	background-color: var(--black-40);
}

.body-chat::-webkit-scrollbar-thumb:hover {
	background-color: var(--black-30);
}

.body-chat::-webkit-scrollbar-track {
	border-radius: 10px;
}

.message-chat {
	display: flex;
	gap: 10px;

	font-size: 16px;
}

.message-avatar {
	min-width: 40px;
	max-height: 40px;

	border-radius: 50%;
	background-color: var(--black-5);
}

.message {
	padding: 10px;

	color: var(--primary-brand);

	border-radius: 20px;
	background-color: var(--black-10);
}

.actions-chat {
	display: flex;
	align-items: center;

	justify-content: space-between;

	padding: 10px;

	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 0 -5px 7px rgb(177 175 175 / 20%);

	gap: 10px;
}

.textarea {
	width: 100%;
}

.warning {
	text-align: center;
}

.loading {
	display: flex;

	flex-direction: column;

	height: 445px;
	padding: 10px;
	gap: 10px;
}

.sup-but {
	border-radius: 50%;
	background-color: var(--primary-brand);
	bottom: 20px;
	right: 20px;
	height: 50px;
	width: 50px;
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	&:hover {
		background-color: var(--black-80);
		box-shadow: 0 0 0 4px var(--black-30);
	}
	&:active {
		background: linear-gradient(0deg, var(--black-60), var(--black-60));
	}
}
.chat {
	filter: invert(1);
}
.chat-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}
