.icon {
	animation: rotate 2s linear infinite;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loader-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.loader {
	border: 4px solid #f3f3f3; /* Светло-серый цвет фона */
	border-top: 4px solid var(--primary-brand); /* Синий цвет границы сверху */
	border-radius: 50%; /* Округление углов, чтобы получился круг */
	width: 16px; /* Ширина кружка */
	height: 16px; /* Высота кружка */
	animation: spin 2s linear infinite; /* Анимация вращения */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
